<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heitor's Django Notes - Creating the site's index with a custom font</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <div>
            <a href="index.html">Back to home</a>
        </div>

        <h1>Creating the site's index with a custom font</h1>
        <h3>30th March, 2017</h3>

        <div>
            Previously, we <a href="2017_03_30_starting_lira.html">logged in to the built-in Admin app</a>.
        </div>
        
        <div>
            Lira will have multiple apps to compartmentalize different types of functionality. We will place general content that doesn't fit well anywhere in the <code>sitewide</code> app.

            <pre>
~/lira $ python manage.py startapp sitewide
            </pre>
        </div>

        <div>
            After creating an app, we need to install it in the project's <code>settings.py</code> in the <code>lira/lira</code> folder. Add the app's <code>AppConfig</code> to <code>INSTALLED_APPS</code>. To explicitly indicate the <code>lira</code> folder inside the base <code>lira</code> folder, my file paths will be relative to my home directory (as in the shell prompts).

            <pre>
# lira/lira/settings.py

# ... lines skipped ...

# Application definition

INSTALLED_APPS = [
<span class="code_highlight">    'sitewide.apps.SitewideConfig',</span>
    'django.contrib.admin',
    'django.contrib.auth',
            </pre>
        </div>

        <div>
            We will place our custom font, CSS and JavaScript content in a special <code>static</code> folder. In the base <code>lira</code> folder, create a <code>static</code> folder:

            <pre>
~/lira $ mkdir static
~/lira $ cd static
~/lira/static $ mkdir css
            </pre>
        </div>

        <div>
            For now, we will serve the <code>static</code> folder in development mode. At the end of <code>lira/lira/settings.py</code>, add the static folder definitions:

            <pre>
# lira/lira/settings.py

# ... go to the end of the file

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.10/howto/static-files/

STATIC_URL = '/static/'

<span class="code_highlight">STATICFILES_DIRS = [
    os.path.join(BASE_DIR, 'static'),
]</span>
            </pre>
        </div>
        
        <div>
            Once the settings for static files are in place, we need to update <code>lira/lira/urls.py</code>:

            <pre>
# lira/lira/urls.py

# ... default documentation ...

<span class="code_highlight">from django.conf import settings
from django.conf.urls.static import static</span>
from django.conf.urls import url
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
]<span class="code_highlight"> + static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)</span>
            </pre>

            By default, <code>STATIC_ROOT</code> is <code>None</code>, and is used as the path to the directory where <code>collectstatic</code> places static files for deployment.
        </div>

        <div>
            Let's save a font in the <code>lira/static/css</code> folder. I downloaded the <a href="https://fonts.google.com/specimen/Yesteryear" target="_blank">Google font Yesteryear</a>. To save time, you may download <a href="css/Yesteryear-Regular.ttf">my copy of the TrueType file</a>. Note that there is also the <a href="css/OFL.txt">OFL license</a> included with the Google download.
        </div>

        <div>
            Now, let's create a CSS stylesheet defining the custom font:
            <pre>
/* lira/static/css/fonts.css */

@font-face {
    font-family: 'Yesteryear';
    src: url('Yesteryear-Regular.ttf') format('truetype');
    font-style: normal;
}

.yesteryear {
    font-family: 'Yesteryear';
}
            </pre>
        </div>

        <div>
            Now, let's make sure our work is functioning properly. Start the development server (<code>runserver</code>) and go to <a href="http://127.0.0.1:8000/static/css/fonts.css" target="_blank">http://127.0.0.1:8000/static/css/fonts.css</a>. You should be able to see the CSS file. 
        </div>

        <div>
            HTML templates are conventionally placed in a <code>templates/APP_NAME</code> folder. Let's create this folder for the <code>sitewide</code> app:

            <pre>
~/lira $ cd sitewide
~/lira/sitewide $ mkdir templates
~/lira/sitewide $ cd templates
~/lira/sitewide/templates $ mkdir sitewide
            </pre>
        </div>

        <div>
            In the newly created folder, create a <code>base.html</code> file. We define blocks in this base template and later, other templates that extend it will fill in the blocks.
            <pre>
&lt;!-- lira/sitewide/templates/sitewide/base.html --&gt;

{% load static %}

&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
    &lt;head&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;title&gt;Lira - {% block title %}{% endblock %}&lt;/title&gt;
        &lt;link rel="stylesheet" href="{% static "css/fonts.css" %}"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    &lt;/body&gt;
&lt;/html&gt;
            </pre>
        </div>

        <div>Our <code>index.html</code> will extend the base template:
            <pre>
&lt;!-- lira/sitewide/templates/sitewide/index.html --&gt;

{% extends 'sitewide/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

&lt;div class="yesteryear"&gt;
    &lt;h1&gt;Welcome to Lira&lt;/h1&gt;
&lt;/div&gt;

{% endblock %}
            </pre>
        </div>

        <div>
            The template will be rendered through a view:
            <pre>
# lira/sitewide/views.py

from django.shortcuts import render

# Create your views here.

def index(request):
    return render(request, 'sitewide/index.html')
            </pre>
        </div>

        <div>
            Create a <code>urls.py</code> file to define a pattern that will lead to the index view:
            <pre>
# lira/sitewide/urls.py

from django.conf.urls import url

from . import views

app_name = 'sitewide'

urlpatterns = [
    url(r'^$', views.index, name='index'),
]
            </pre>
        </div>

        <div>
            Finally, in <code>lira/lira/urls.py</code> we need to include the <code>sitewide</code> URLs:
            <pre>
# lira/lira/urls.py

# ... default documentation ...

from django.conf import settings
from django.conf.urls.static import static
from django.conf.urls import url<span class="code_highlight">, include</span>
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
<span class="code_highlight">    url(r'^', include('sitewide.urls')),</span>
] + static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)
            </pre>
        </div>

        <div>
            Now, going to <a href="http://127.0.0.1:8000/" target="_blank">http://127.0.0.1:8000/</a> will display our welcome message.
        </div>

        <div>
            Next, we will use a predefined form to <a href="2017_03_31_user_creation.html">create new users</a>.
        </div>
    </body>
</html>
